:root {
  --accent-hover: #5ce292;
  --accent: #4adf86;
  --dark-hover: #354863;
  --dark: #273549;
  --darker: #1f2937;
  --danger-bg: #881337;
}

:root {
  box-sizing: border-box;
}

*,
::before,
::after {
  box-sizing: inherit;
}

body {
  background-color: var(--darker);
  color: #fff;
  font-family: 'Montserrat', sans-serif;
}

.header {
  border-bottom: 1px solid var(--dark);
  margin: 0 auto 2em;
  max-width: 30em;
  padding: 2em;
}

.header__title {
  font-size: 1.5rem;
  font-weight: 400;
}

.header__title--highlight {
  color: var(--accent);
  display: block;
  font-size: 1.75rem;
  font-weight: 800;
}

.form__fieldset {
  border: none;
  padding: 0;
  margin: 0;
  margin-bottom: 1em;
}

.form__label {
  display: block;
}

.form__input {
  background: var(--dark);
  border-bottom: 1px solid var(--accent);
  border: none;
  color: var(--accent);
  display: block;
  margin: 0.5em 0 1em;
  padding: 0.5em;
  width: 3.25em;
}

.form__button {
  background-color: var(--accent);
  border-radius: 0.25em;
  border: none;
  color: var(--darker);
  font-weight: 700;
  padding: 0.5em 1em;
}

.form__button:hover {
  background-color: var(--accent-hover);
}

.passwords {
  margin: 0 auto;
  max-width: 30em;
  padding: 2em;
}

.passwords__password {
  background-color: var(--dark);
  border-radius: 0.25em;
  color: var(--accent-hover);
  padding: 0.5em;
  text-align: center;
  word-wrap: break-word;
}

.passwords__password:hover {
  background-color: var(--dark-hover);
}

.passwords__password--warning {
  background-color: var(--danger-bg);
  color: #fff;
}

.toast-message {
  background-color: var(--accent);
  bottom: 0.5em;
  color: var(--darker);
  font-size: 0.8rem;
  left: 50%;
  padding: 0.5rem 1em;
  position: fixed;
  transform: translateX(-50%);
}
